{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>{% block title %}Portfolio Website{% endblock %}</title>
</head>

<body>
    <header>
        <a href="{% url 'home' %}" class="logo">Personal Portfolio</a>
        <nav>
            <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a>
            <a href="{% url 'about' %}" class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">About</a>
            <a href="{% url 'home' %}#skills">Skills</a>
            <a href="{% url 'projects' %}" class="{% if request.resolver_match.url_name == 'projects' or request.resolver_match.url_name == 'project_detail' %}active{% endif %}">Projects</a>
            <a href="{% url 'home' %}#contact">Contact</a>
            <a href="{% url 'admin:index' %}" class="admin-btn">Admin</a>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <p> Kawsar Ahmed Shajib @ All Rights Reserved.</p>
    </footer>
</body>
</html>